<template>
  <form @keydown.enter="submit" @submit="submit">
    <!--    <validated-input-->
    <!--      no-label-->
    <!--      label="Number"-->
    <!--      validate="min_value:10"-->
    <!--      :help-options="{ content: 'hello' }"-->
    <!--      v-model="number"-->
    <!--      :type="'number'"-->
    <!--      :min-number="100"-->
    <!--      :autocomplete="false"-->
    <!--    />-->
    <!--    <p>{{ number }}</p>-->
    <validated-input label="Email" validate="required|email" v-model="email" :autocomplete="false" />
    <validated-input
      label="Zip/Postal"
      :validate="{ required: false, postalCode: { country: country } }"
      v-model="postalCode"
      :autocomplete="false"
    />
    <validated-input label="Options" validate="required" :type="'select'" v-model="option" :options="['Option 1']" />

    <!--    {{ product3 }}-->
    <autocomplete-input
      :path="`/suppliers`"
      :name="'Supplier(s)'"
      label="name"
      isObject
      track-by="_id"
      :outValKey="true"
      v-model="product4"
      loadOnFocus
    />
    <autocomplete-input
      :path="`/suppliers`"
      :name="'Autocomplete suppliers example'"
      label="name"
      isObject
      :only-search="true"
      :load-on-focus="true"
      track-by="_id"
      :outValKey="true"
      v-model="product3"
      :options-v="[
        { _id: '5f075ba008861b49e07b0ebe', name: '1800 Baskets A Division of 1800 Flowers' },
        { _id: '5f075b9f08861b49e07b09cb', name: '123 Emblems' },
      ]"
      :defValue="['5f075ba008861b49e07b0ebe', '5f075b9f08861b49e07b09cb']"
      @select="onSelectOption"
      @remove="onRemoveOption"
      :multiple="true"
    />
    <!--    <autocomplete-input-->
    <!--      :path="`/suppliers`"-->
    <!--      :name="'Autocomplete Supplier example'"-->
    <!--      label="name"-->
    <!--      isObject-->
    <!--      track-by="_id"-->
    <!--      :outValKey="true"-->
    <!--      v-model="product3"-->
    <!--      :options-v="[-->
    <!--        { _id: '5f075ba008861b49e07b0ebe', name: '1800 Baskets A Division of 1800 Flowers' },-->
    <!--        { _id: '5f075b9f08861b49e07b09cb', name: '123 Emblems' },-->
    <!--      ]"-->
    <!--      :defValue="['5f075ba008861b49e07b0ebe', '5f075b9f08861b49e07b09cb']"-->
    <!--      @select="onSelectOption"-->
    <!--      @remove="onRemoveOption"-->
    <!--    >-->
    <!--      <template slot="option" slot-scope="props">-->
    <!--        <span>==={{ props.option.name }}==</span>-->
    <!--      </template>-->
    <!--      <template slot="tag" slot-scope="props">-->
    <!--        <span>==={{ props.option.name }}==++</span>-->
    <!--      </template>-->
    <!--      <template slot="singleLabel" slot-scope="props">-->
    <!--        <span>==={{ props.option.name }}==++</span>-->
    <!--      </template>-->
    <!--    </autocomplete-input>-->

    <!--    <autocomplete-input-->
    <!--      :path="`/countries`"-->
    <!--      :name="'Country of origin'"-->
    <!--      label="code"-->
    <!--      loadOnFocus-->
    <!--      v-model="countryOfOrigin"-->
    <!--      isObject-->
    <!--      :outValKey="true"-->
    <!--      :track-by="'code'"-->
    <!--      :show-labels="true"-->
    <!--      :query="{ fields: ['code'] }"-->
    <!--      :options-v="(countryOfOrigin && [{ code: countryOfOrigin }]) || []"-->
    <!--      :defValue="countryOfOrigin"-->
    <!--      @remove="countryOfOrigin = null"-->
    <!--    >-->
    <!--      <template slot="option" slot-scope="props">-->
    <!--        {{ `${props.option.code}${(props.option.name && `(${props.option.name})`) || ''}` }}-->
    <!--      </template>-->
    <!--    </autocomplete-input>-->
    <!--    -->
    <!--    <autocomplete-input-->
    <!--      :path="`/fobPoints?&withProject=1&project=zip&project=city&project=_id&project=state&project=country`"-->
    <!--      :name="'FOB Points'"-->
    <!--      label="name"-->
    <!--      loadOnFocus-->
    <!--      isObject-->
    <!--      track-by="_id"-->
    <!--      :multiple="true"-->
    <!--      :options-v="[...product.fobPoints]"-->
    <!--      v-model="product.fobPoints"-->
    <!--      v-validate="`required`"-->
    <!--      :help-options="{-->
    <!--        content: 'List of FOB locations associated with the supplier that the product ships from.',-->
    <!--        html: true,-->
    <!--      }"-->
    <!--    >-->

    <!--    <template slot="tag" slot-scope="propsOption">-->
    <!--      <div class="d-flex align-items-center multiselect__tag">-->
    <!--        <span class="mr-2"> {{ propsOption.option.name }}</span>-->
    <!--        <div class="option__desc" v-if="propsOption.option.isGlobal">-->
    <!--              <span class="option__title">-->
    <!--                <i-->
    <!--                  class="fas fa-question-circle text-light ml-2"-->
    <!--                  v-b-popover.hover="{-->
    <!--                    content: `Global category`,-->
    <!--                    html: true-->
    <!--                  }"-->
    <!--                ></i>-->
    <!--              </span>-->
    <!--        </div>-->
    <!--        <pre>{{ JSON.stringify(propsOption) }}</pre>-->
    <!--        <i class="multiselect__tag-icon" @click="() => onCategoryRemove(props.row, propsOption.option)"></i>-->
    <!--      </div>-->
    <!--    </template>-->
    <!--      <template slot="option" slot-scope="props">-->
    <!--        {{ `${props.option.city}${(props.option.name && `(${props.option.name})`) || ''}` }}-->
    <!--      </template>-->
    <!--      <template slot="singleLabel" slot-scope="props">-->
    <!--        {{ `${props.option.city}${(props.option.name && `(${props.option.name})`) || ''}` }}-->
    <!--      </template>-->
    <!--    </autocomplete-input>-->
    <!--    -->
    <!--    -->
    <!--    <autocomplete-input-->
    <!--      :path="`/distributors/-1/supplier-decorators/addresses`"-->
    <!--      :name="'Supplier addresses'"-->
    <!--      label="name"-->
    <!--      loadOnFocus-->
    <!--      :mapQueryOptions="(params) => ({ city: params.query, _id: params.query, name: params.name })"-->
    <!--      track-by="_id"-->
    <!--      :isObject="true"-->
    <!--      :track-by="'_id'"-->
    <!--      :multiple="true"-->
    <!--      v-model="selectedAddress"-->
    <!--      :defValue="[...selectedAddress]"-->
    <!--    >-->
    <!--      <template slot="option" slot-scope="props">-->
    <!--        {{ `${props.option.city}${(props.option.name && `(${props.option.name})`) || ''}` }}-->
    <!--      </template>-->
    <!--      <template slot="singleLabel" slot-scope="props">-->
    <!--        {{ `${props.option.city}${(props.option.name && `(${props.option.name})`) || ''}` }}-->
    <!--      </template>-->
    <!--      <template slot="tag" slot-scope="props">-->
    <!--        {{ `${props.option.city}${(props.option.name && `(${props.option.name})`) || ''}` }}-->
    <!--      </template>-->
    <!--    </autocomplete-input>-->
    <!--    <autocomplete-input-->
    <!--      :options-v="[-->
    <!--        { city: 'nebr', zip: '342', country: 'US', street: 'Bladd ' },-->
    <!--        { city: 'viln', zip: '23', country: 'CA', street: 'Bladdfsd ' },-->
    <!--      ]"-->
    <!--      :name="'Supplier addresses'"-->
    <!--      label="name"-->
    <!--      :filterOptions="filterOptions"-->
    <!--      loadOnFocus-->
    <!--      isObject-->
    <!--      :mapQueryOptions="(params) => ({ city: params.query })"-->
    <!--      track-by="_id"-->
    <!--      :internal-search="false"-->
    <!--      :outValKey="true"-->
    <!--      v-model="selectedAddress"-->
    <!--    >-->
    <!--      <template slot="option" slot-scope="props">-->
    <!--        {{ `${props.option.city}${(props.option.name && `(${props.option.name})`) || ''}` }}-->
    <!--      </template>-->
    <!--      <template slot="singleLabel" slot-scope="props">-->
    <!--        {{ `${props.option.city}${(props.option.name && `(${props.option.name})`) || ''}` }}-->
    <!--      </template>-->
    <!--    </autocomplete-input>-->

    <!--    {{ product }}-->
    <!--    <autocomplete-input-->
    <!--      :path="`/stores/all/products-app-list`"-->
    <!--      :name="'Autocomplete Products example'"-->
    <!--      label="productName"-->
    <!--      isObject-->
    <!--      track-by="_id"-->
    <!--      :outValKey="true"-->
    <!--      v-model="product"-->
    <!--      :options-v="[{ productName: 'Embroidery', _id: '5f29935c53b8014744a4faa9' }]"-->
    <!--      @select="onSelectOption"-->
    <!--      @remove="onRemoveOption"-->
    <!--      :query="{-->
    <!--        fields: ['productName'],-->
    <!--        withDecorations: true,-->
    <!--        withoutFilters: true,-->
    <!--        orderBy: 'productName',-->
    <!--        ascending: 1,-->
    <!--        filter: {-->
    <!--          // ['with decorations']: [{ val: 'yes' }],-->
    <!--          status: [{ val: 'active' }],-->
    <!--          onlyDecorator: true-->
    <!--        }-->
    <!--      }"-->
    <!--      :multiple="true"-->
    <!--      :loadOnFocus="true"-->
    <!--      :blockKeys="['Delete']"-->
    <!--    />-->
    <!--
    {{ product1 }}
    <autocomplete-input
      :path="`/stores/all/products-app-list`"
      :name="'Autocomplete When product id is pulled'"
      label="productName"
      isObject
      track-by="_id"
      :outValKey="true"
      v-model="product1"
      :options-v="[{ productName: 'Embroidery', _id: '5f29935c53b8014744a4faa9' }]"
      @select="onSelectOption"
      @remove="onRemoveOption"
      :query="{
        fields: ['productName'],
        withDecorations: true,
        withoutFilters: true,
        orderBy: 'productName',
        ascending: 1,
        filter: {
          // ['with decorations']: [{ val: 'yes' }],
          status: [{ val: 'active' }],
          onlyDecorator: true
        }
      }"
      :loadOnFocus="true"
      :blockKeys="['Delete']"
    />
    {{ product2 }}
    <autocomplete-input
      :path="`/stores/all/products-app-list`"
      :name="'Autocomplete When whole product object is pulled'"
      label="productName"
      isObject
      track-by="_id"
      v-model="product2"
      :options-v="[{ productName: 'Embroidery', _id: '5f29935c53b8014744a4faa9' }]"
      @select="onSelectOption"
      @remove="onRemoveOption"
      :query="{
        fields: ['productName'],
        withDecorations: true,
        withoutFilters: true,
        orderBy: 'productName',
        ascending: 1,
        filter: {
          // ['with decorations']: [{ val: 'yes' }],
          status: [{ val: 'active' }],
          onlyDecorator: true
        }
      }"
      :loadOnFocus="true"
      :blockKeys="['Delete']"
    />-->
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</template>

<script>
  export default {
    name: 'Home',
    data() {
      return {
        number: 0,
        product1: null,
        product2: null,
        product4: null,
        countryOfOrigin: 'AL',
        postalCode: null,
        country: 'NL',
        product3: [],
        email: null,
        option: null,
        data: {},
        selectedAddress: [{ city: 'tet@re.es' }],
        product: { fobPoints: [] },
      };
    },
    methods: {
      filterOptions(options, search) {
        return options.filter((option) =>
          ['zip', 'country', 'street', 'city'].find((key) => (option[key] || '').toLowerCase().match(search))
        );
      },
      onRemoveOption() {},
      onSelectOption() {},
      async submit(e) {
        e.preventDefault();
        this.data = {};
        await this.$validator.validateAll();
        if (this.errors.any()) return;
        this.data = {
          option: this.option,
          email: this.email,
          product: this.product,
        };
      },
    },
  };
</script>
