<template>
  <div
    :data-id="name || nameVal || placeholder || helpOptions || 'form-input'"
    ref="container"
    class="form-group"
    :class="{ 'm-0': !name }"
  >
    <div v-if="name" class="d-flex justify-content-between align-items-center">
      <div>
        <label>
          <i v-if="loading" class="far fa-spinner-third fa-spin fa-1x"></i>
          {{ name.toCapitalize() }}
        </label>
        <a :href="helpTextLink" target="_blank" v-if="helpOptions" v-b-popover.hover="helpOptions" :hide-title="true">
          <i class="fas fa-question-circle text-light ml-2 fa-fw"></i>
        </a>
      </div>
      <label class="text-muted small" v-if="optional">optional</label>
    </div>
    <multiselect
      v-if="trackBy"
      v-bind="$props"
      :placeholder="placeholder"
      :options="options"
      v-validate="validate"
      :track-by="trackBy"
      :label="label"
      :name="name"
      :data-vv-name="name"
      :searchable="searchable"
      :allowEmpty="allowEmpty"
      :blockKeys="blockKeys"
      :multiple="multiple"
      :customLabel="customLabel"
      :selectLabel="selectLabel"
      :deselectLabel="deselectLabel"
      @search-change="onInput"
      :class="errors.first(name) ? 'is-invalid' : ''"
      v-model="val"
      @open="onFocus"
      @select="onSelect"
      @remove="onRemove"
    >
      <span slot="noResult"> Oops! No elements found. Consider changing the search query. </span>
      <span slot="noOptions">
        <p v-if="loading" data-id="mPower-loading">
          Loading... <i class="far fa-spinner-third fa-spin text-primary"></i>
        </p>
        <span v-else data-id="mPower-no-options">No {{ name }} Options</span>
      </span>

      <template :slot="'option'" slot-scope="scope">
        <slot :name="'option'" v-bind="Object.assign(scope, {})" />
      </template>

      <template :slot="'tag'" slot-scope="scope">
        <slot :name="'tag'" v-bind="Object.assign(scope, {})" />
      </template>
      <template :slot="'singleLabel'" slot-scope="scope">
        <slot :name="'singleLabel'" v-bind="Object.assign(scope, {})" />
      </template>
      <template slot="afterList">
        <li v-if="loading" class="autocomplete-input-loader">
          <i class="far fa-spinner-third fa-spin fa-1x"></i>
        </li>
      </template>
    </multiselect>
    <multiselect
      v-else
      v-bind="$props"
      :placeholder="placeholder"
      :options="options"
      v-validate="validate"
      :blockKeys="blockKeys"
      :multiple="multiple"
      :name="name"
      :data-vv-name="name"
      :searchable="searchable"
      :allowEmpty="allowEmpty"
      :customLabel="customLabel"
      :selectLabel="selectLabel"
      :deselectLabel="deselectLabel"
      @search-change="onInput"
      :class="errors.first(name) ? 'is-invalid' : ''"
      v-model="val"
      @open="onFocus"
      @select="onSelect"
      @remove="onRemove"
    >
      <span slot="noResult"> Oops! No elements found. Consider changing the search query. </span>
      <span slot="noOptions">
        <p v-if="loading">Loading... <i class="far fa-spinner-third fa-spin text-primary"></i></p>
        <span v-else>No {{ name }} Options</span>
      </span>
      <span slot="beforeList">
        <p v-if="loading">Loading... <i class="far fa-spinner-third fa-spin text-primary"></i></p>
      </span>

      <template :slot="'option'" slot-scope="scope">
        <slot :name="'option'" v-bind="Object.assign(scope, {})" />
      </template>
      <template :slot="'tag'" slot-scope="scope">
        <slot :name="'tag'" v-bind="Object.assign(scope, {})" />
      </template>

      <template :slot="'singleLabel'" slot-scope="scope">
        <slot :name="'singleLabel'" v-bind="Object.assign(scope, {})" />
      </template>
      <template slot="afterList">
        <li v-if="loading" class="autocomplete-input-loader">
          <i class="far fa-spinner-third fa-spin fa-1x"></i>
        </li>
      </template>
    </multiselect>
    <div v-if="errors.first(name)" class="invalid-feedback d-block text-danger">
      {{ errors.first(name) }}
    </div>
  </div>
</template>
<script>
  import { encodeOpts } from '../utils/encode-opts';
  export default {
    inject: ['$validator'], //
    props: {
      placeholder: String,
      multiple: Boolean,
      internalSearch: {
        type: Boolean,
        default: true,
      },
      allowEmpty: {
        type: Boolean,
        default: true,
      },
      searchable: {
        type: Boolean,
        default: true,
      },
      limit: {
        type: Number,
        default: 100,
      },
      onlySearch: Boolean,
      loadOnFocus: Boolean,
      noNeedToLoad: Boolean,
      query: {
        type: Object,
      },

      validate: Object | String,
      defValue: Object | String,
      outValKey: Boolean, //in case if we need to extract specific value
      optionsV: {
        //default selected options TODO:should be renamed
        type: Array,
        default: () => [],
      },
      blockKeys: {
        type: Array,
        default: () => [],
      },
      label: {
        type: String,
      },
      orderBy: {
        type: String,
        default: 'name',
      },
      ascending: {
        type: Number,
        default: 1,
      },
      path: {
        type: String,
      },
      filterOptions: {
        type: Function,
      },
      mapQueryOptions: {
        type: Function,
      },
      isObject: {
        //options are objects and need to map to some value from key in label prop
        type: Boolean,
        default: false,
      },
      preventSearchAfterSelect: {
        type: Boolean,
      },
      axios: {
        type: Object | Function,
      },
      name: {
        type: String,
      },
      optional: {
        type: Boolean,
      },
      trackBy: {
        type: String,
      },
      value: {},
      customLabel: {
        type: Function,
      },
      mapResult: {
        type: Function,
      },
      mapResultOptions: {
        type: Function,
      },
      selectLabel: {
        type: String,
      },
      deselectLabel: {
        type: String,
      },
      helpOptions: Object | String,
      helpTextLink: String,
    },
    computed: {
      val: {
        get() {
          if (this.outValKey && this.trackBy && this.value) {
            if (Array.isArray(this.value)) {
              const res = [];
              for (let i = 0; i < this.value.length; i++) {
                for (let j = 0; j < this.options.length; j++) {
                  if (this.options[j][this.trackBy] === this.value[i]) {
                    res.push(this.options[j]);
                    break;
                  }
                }
              }
              return res;
            }
            return this.options.find((el) => el[this.trackBy] === this.value);
          }
          return this.value;
        },
        set(value) {
          if (this.outValKey && this.trackBy) {
            if (Array.isArray(value)) {
              return this.$emit(
                'input',
                value.map((e) => e[this.trackBy])
              );
            }
            const v = value ? value[this.trackBy] : null;
            this.$emit('input', v);
          } else {
            this.$emit('input', value);
          }
        },
      },
    },
    created() {
      if (!this.loadOnFocus && !this.noNeedToLoad) this.loadData();
    },
    mounted() {
      const options = this.$refs.container.querySelector('.multiselect__content-wrapper');
      if (options) {
        options.addEventListener('scroll', (e) => {
          const height = e.target.scrollHeight - 300;
          if (height - e.target.scrollTop < height / 2) {
            this.loadData();
          }
        });
      }
    },
    data() {
      const options = [];
      if (this.optionsV.length) options.push(...this.optionsV);
      if (
        this.value &&
        options
          .map((el) => (this.outValKey ? el[this.trackBy] : el._id))
          .filter((el) =>
            Array.isArray(this.value) ? this.value.map((el) => el._id || el).includes(el) : this.value === el
          ).length === 0
      ) {
        if (Array.isArray(this.value)) {
          options.push(...this.value);
        } else {
          options.push(this.value);
        }
      }
      if (this.defValue) {
        this.$emit('input', this.defValue);
      }
      return {
        options,
        total: 0,
        page: 1,
        allData: [],
        loading: false,
        selected: 0,
        loadedAfterFocus: false,
        search: null,
      };
    },
    methods: {
      onSelect(record, ...e) {
        this.$emit('select', record);
        this.selected = 1;
      },
      onRemove(record) {
        this.$emit('remove', record);
      },
      async onFocus() {
        if (!this.noNeedToLoad && this.loadOnFocus && !this.loadedAfterFocus) {
          await this.loadData();
          this.loadedAfterFocus = true;
        }
      },
      async loadData() {
        const params = { limit: this.limit, page: this.page, orderBy: this.orderBy, ascending: this.ascending };
        if (this.search) {
          params.query = this.search;
        }
        if (!this.path) {
          if (this.filterOptions) {
            this.options = this.search
              ? this.filterOptions(this.optionsV, this.search.toLowerCase())
              : [...this.optionsV];
          }
          if (params.query && this.mapQueryOptions)
            this.options.push(this.mapQueryOptions ? this.mapQueryOptions(params) : { _id: params.query });
          return;
        }
        if ((this.page - 1) * this.limit > this.total) return console.warn('all data loaded...');
        if (this.loading) return console.warn('pending...');
        try {
          this.loading = true;

          if (this.query) {
            Object.assign(params, this.query);
          }
          const { data } = await (this.$http || this.axios).get(this.path, {
            params,
            paramsSerializer: encodeOpts,
          });
          this.page++;
          if (!this.total) {
            this.total = data.count;
            this.allData = [];
          }
          const all = this.isObject
            ? this.options.map((el) => (el._id || el[this.trackBy] || '').toString())
            : this.options;

          const exists = this.allData.map((e) => e._id || e[this.trackBy] || e);
          this.allData = [...this.allData, ...data.data.filter((e) => !exists.includes(e._id || e[this.trackBy] || e))];
          if (this.mapResult) this.mapResult(this.allData);
          if (this.internalSearch === false) {
            this.options = data.data.map((e) => (!this.isObject ? e[this.label] : e));
          } else {
            for (let i = 0; i < data.data.length; i++) {
              if (
                !this.options
                  .map((e) => (e._id || e[this.trackBy] || e).toString())
                  .includes((data.data[i]._id || data.data[i][this.trackBy] || data.data[i]).toString()) &&
                all.indexOf(
                  data.data[i][
                    (this.outValKey && this.trackBy) ||
                      (this.isObject ? (data.data[i]._id && '_id') || this.trackBy : this.label)
                  ].toString()
                ) < 0
              ) {
                this.options.push(!this.isObject ? data.data[i][this.label] : data.data[i]);
              }
            }
          }
          if (!data.data.length && this.mapQueryOptions) {
            this.options.push(this.mapQueryOptions ? this.mapQueryOptions(params) : { _id: params.query });
          }
          if (this.mapResultOptions) this.mapResultOptions(this.options);
          this.$emit('onLoad', this.allData);
        } catch (e) {
          console.log(e);
        } finally {
          this.loading = false;
        }
      },
      onInput(e) {
        if (this.search === e || (this.preventSearchAfterSelect && this.selected)) {
          this.selected = 0;
          return;
        }
        if (this.timeOut) clearTimeout(this.timeOut);
        this.timeOut = setTimeout(() => {
          this.page = 1;
          this.search = e;
          this.total = 0;
          this.loadData();
        }, 300);
      },
    },
  };
</script>

<style>
  .autocomplete-input-loader {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
