<template>
  <div :data-id="label || nameVal || placeholder || helpOptions || 'form-input'">
    <b-form-group :class="{ 'has-error': errors && errors.first(nameVal) }">
      <div class="d-flex justify-content-between align-items-center" v-if="!noLabel">
        <div>
          <label v-if="label">{{ label }}</label>
          <a :href="helpTextLink" target="_blank" v-if="helpOptions" v-b-popover.hover="helpOptions" :hide-title="true">
            <i class="fas fa-question-circle text-light ml-2 fa-fw"></i>
          </a>
        </div>
        <label class="text-muted small" v-if="optional">optional</label>
      </div>
      <b-input-group :append="append" :prepend="prepend">
        <b-input-group-prepend
          is-text
          v-if="prependIcon"
          @click="onPrependIconClick"
          @change="change"
          :class="{ pointer: hasActionOnPreperedIcon }"
        >
          <i :class="`fal fa-${prependIcon}`"></i>
        </b-input-group-prepend>
        <b-form-textarea
          v-bind="$attrs"
          v-if="'text-area' === type"
          v-model="val"
          v-validate="validate"
          rows="3"
          :name="nameVal"
          max-rows="6"
          @change="change"
          :class="inputClass"
          :autocomplete="!autocomplete ? 'off' : 'on'"
          ref="input"
          data-hj-allow
        ></b-form-textarea>

        <b-form-select
          v-bind="$attrs"
          :class="inputClass"
          :name="nameVal"
          v-else-if="'select' === type && valueField"
          v-model="val"
          @change="change"
          :options="options"
          :value-field="valueField"
          :text-field="textField"
          v-validate="validate"
          :placeholder="placeholder"
          disabled-field="notEnabled"
        >
          <template v-slot:first>
            <b-form-select-option :value="null" disabled>{{
              placeholder || 'Please select an option'
            }}</b-form-select-option>
          </template>
        </b-form-select>
        <b-form-select
          v-bind="$attrs"
          :placeholder="placeholder"
          :class="inputClass"
          :name="nameVal"
          v-else-if="'select' === type"
          v-model="val"
          @change="change"
          :options="options"
          v-validate="validate"
        >
          <template v-slot:first>
            <b-form-select-option :value="null" disabled>{{
              placeholder || 'Please select an option'
            }}</b-form-select-option>
          </template>
        </b-form-select>
        <b-form-input
          v-bind="$attrs"
          :placeholder="placeholder"
          :type="type"
          v-model="val"
          v-validate="validate"
          :name="nameVal"
          :state="state"
          :maxLength="maxLength"
          v-else
          v-mask="mask"
          :disabled="disabled"
          :readonly="!autocomplete"
          :autofocus="!autocomplete"
          :autocomplete="!autocomplete ? 'off' : 'on'"
          @wheel="$event.target.blur()"
          @keydown="keydown"
          @keyup="keyup"
          @blur="onBlur"
          @change="change"
          onfocus="if (this.hasAttribute('readonly')) { this.removeAttribute('readonly');  this.blur();  this.focus();  }"
          :class="inputClass"
          ref="input"
          data-hj-allow
        />
        <slot></slot>
      </b-input-group>
      <small v-if="description">
        {{ description }}
      </small>
      <slot name="bottom-errors">
        <div class="invalid-feedback d-block" v-if="showValidation">
          {{ errors.first(nameVal) }}
        </div>
      </slot>

      <slot name="bottom-content"> </slot>
    </b-form-group>
  </div>
</template>

<script>
  export default {
    name: 'ValidatedInput',
    inject: ['$validator'],
    props: {
      autocomplete: {
        type: Boolean,
        default: true,
      },
      noLabel: {
        type: Boolean,
      },
      dataVvAs: {
        type: String,
      },
      maxLength: {
        type: Number,
        default: 255,
      },
      valueField: {
        type: String,
      },
      textField: {
        type: String,
      },
      options: {
        type: Array,
        default: () => [],
      },
      inputClass: {
        type: String,
        default: '',
      },
      placeholder: {
        type: String,
      },
      prependIcon: {
        type: String,
      },
      description: {
        type: String,
      },
      onPrependIconClick: {
        type: Function,
        default: () => 0,
      },
      hasActionOnPreperedIcon: {
        type: Boolean,
        default: false,
      },
      disabled: {
        type: Boolean,
        default: false,
      },
      mask: {
        type: String,
        default: '',
      },
      append: {
        type: [String, Number],
      },
      prepend: {
        type: [String, Number],
      },
      validate: {
        type: [String, Object],
      },
      value: {},
      name: {
        type: String,
      },
      minNumber: {
        type: Number,
      },
      type: {
        type: String,
        default: 'text',
      },
      label: {
        type: String,
      },
      index: {
        type: Number,
      },
      mode: {
        type: String,
        validator: (val) => ['instant', 'wait', 'onfocus'].includes(val),
        default: 'onfocus',
      },
      autofocus: {
        type: Boolean,
        default: false,
      },
      helpOptions: Object | String,
      helpTextLink: String,
    },
    data() {
      return { validationAllowed: false, valueBeforeChange: null };
    },
    async mounted() {
      if (this.mode === 'instant') await this.$validator.validateAll();
      const minVal = parseFloat(this.minNumber);
      if (minVal && !isNaN(minVal) && (minVal > parseFloat(this.value) || isNaN(parseFloat(this.value))))
        this.$emit('input', minVal);
    },
    methods: {
      change(e) {
        this.$emit('change', e);
      },
      onBlur($event) {
        this.$emit('blur', $event);
        this.keyup($event);
      },
      keydown($event) {
        this.valueBeforeChange = this.value;
      },
      keyup($event) {
        const { target } = $event;
        const newVal = parseFloat(target.value);
        this.$nextTick(() => {
          const minVal = parseFloat(this.minNumber);
          if (minVal && !isNaN(minVal) && (minVal > newVal || isNaN(newVal))) {
            target.value = this.valueBeforeChange;
            this.$emit('input', this.valueBeforeChange);
          }
        });
      },
      validateState(ref) {
        if (this.veeFields[ref] && (this.veeFields[ref].dirty || this.veeFields[ref].validated)) {
          if (this.errors.has(ref)) {
            return false;
          } else {
            if (this.mode === 'wait') {
              return true;
            } else {
              return null;
            }
          }
        }
      },
      async allowValidation() {
        this.validationAllowed = true;
      },
    },
    computed: {
      optional() {
        if (this.validate) {
          if (typeof this.validate === 'object') {
            return !this.validate['required'];
          } else {
            return !this.validate.includes('required');
          }
        }
      },
      showValidation() {
        if (this.mode === 'wait' && this.validationAllowed) return true;
        return ['instant', 'onfocus'].includes(this.mode);
      },
      state() {
        if (this.mode === 'wait' && !this.validationAllowed) return null;
        return this.validateState(this.nameVal);
      },
      nameVal() {
        if (this.name) return this.name;

        const label = this.index !== undefined ? this.label + this.index : this.label;
        return label && label.split(':')[0];
      },
      val: {
        get() {
          return this.value;
        },
        set(value) {
          const minVal = parseFloat(this.minNumber);
          if (minVal && !isNaN(minVal) && (minVal > parseFloat(value) || isNaN(parseFloat(value)))) value = minVal;
          this.$emit('input', value);
        },
      },
    },
  };
</script>

<style scoped>
  .pointer {
    cursor: pointer;
  }
</style>

<style>
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
</style>
